.idea
.git
.github
nginx

.dockerignore
.env
.env.example
.golangci.yml
.gitignore

coverage.txt
.gocache
.tmp
*firebase-service-account.json
firebase-*.json

docker-compose.yml

LICENSE
Makefile
README*
